/* custom css for multiple select active */

/*
.selectize-control.multi .selectize-input > div.active {
  box-shadow: inset 0 1px 0 0 #97c4fe !important;
  background: #3d94f6 !important;
  border: 1px solid #337fed !important;
  color: #ffffff;
}
*/

#upload_rds_example {
  max-width: 500px;
}

.ace_print-margin {
  display: none;
}

#plot_tab2 {
  position: fixed;
  max-width: 62vw; /* Fallback for browsers that do not support Custom Properties */
  max-width: calc(var(--vw, 1vw) * 62);
}

